h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.quiz {
  margin: 5px !important;
  margin-left: 10% !important;
  padding: 5px !important;
  border: 1px solid gray;
}

.result {
  margin: 5px !important;
  font-size: 16px;
  font-family: "Roboto";
  border: 1px solid #E5E5E5;
  height: 270px;
  width: 1179px;
  left: 48px;
  top: 62px;
  border-radius: 10px;
}

.rectangle {
  width: 200px;
  overflow: hidden;
  border-radius: 5px;
}
.rect1 {
  width: 100px;
  float: left;
  height: 14.46px;
}
.rect2 {
  width: 100px;
  height: 14.46px;
}
.bar {
  margin-top: 15px !important;
}
.header {
  margin-top: 30px !important;
}